body {
    margin: 0;
    background: #000000;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container h3{
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.24331rem;
    margin-bottom: 0;
    width: 9.5rem;
}

h2{
    color: #F94F6D;
    background: black;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 7.91663rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#score-increase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#score-increase button {
    color: #9AABD8;
    background: #1B244A;
    border-radius: 0.3125rem;
    border: 2px solid #9AABD8;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.73825rem;
}

#restart-btn {
    color: #9AABD8;
    background: #1B244A;
    border-radius: 0.3125rem;
    border: 2px solid #9AABD8;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 4rem;
}
